@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;700;900&family=Rubik+Moonrocks&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  margin: auto;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}
li {
  list-style: none;
}
.hide {
  width: 1px;
  height: 1px;
  margin: -1px;
  position: absolute;
  clip: calc(0 0 0 0);
  overflow: hidden;
}
img {
  max-width: 100%;
}
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
