section {
  padding: 0 15px;
}
h3.title {
  font-size: 22px;
  padding-top: 111px;
  padding-bottom: 11px;
  margin: 0 15px;
  border-bottom: 2px solid #c9c9c9;
}
.compare {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  margin-bottom: 50px;
}
.room_info {
  width: 100%;
  padding: 0 15px;
  text-align: left;
  color: #515151;
}
.room_info .info {
  padding: 15px;
  border-top: 2px solid #c9c9c9;
}
.room_info .info:first-child {
  border: 0;
}
.room_info .info p {
  padding: 5px 0;
}
.room_info .info p.i_room {
  background-color: #ebdcb8;
  width: 46px;
  height: 29px;
  text-align: center;
  border-radius: 4px;
}
.room_info .info .subtit {
  font-weight: 500;
}
.room_info .info .txt {
  font-size: 14px;
}
.leftside {
  border-right: 2px solid #c9c9c9;
}
button.reserve {
  text-align: center;
  width: 100%;
  color: #fff;
  background-color: #155110;
  padding: 10px;
  border-radius: 5px;
}
