section {
  padding: 0 15px;
}
.roomselectbox {
  padding-top: 101px;
}
section.sec1 {
  background-color: #e5dfce;
  margin: 34px 15px 10px 15px;
}
.roomtit {
  font-size: 25px;
  margin-top: 20px;
}
.sec1 .date {
  display: flex;
  justify-content: space-between;
  /* flex-basis: 100%; */
  /* flex-wrap: wrap; */
  align-items: center;
  font-size: 20px;
  margin-bottom: 17px;
}
.sec1 > p {
  text-align: left;
  font-size: 20px;
}

.roomtxt {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: 28px 0;
}

.roomimg {
  position: relative;
}
.roomimg i.heart {
  background-image: url(../img/아이콘원본/btn_blk_heart.svg);
  width: 27px;
  height: 27px;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
.roomimg i.heart.active {
  background-image: url(../img/아이콘원본/btn_red_heart.svg);
}
.txt p {
  font-size: 20px;
}
.txt p:last-child {
  font-size: 15px;
}
.sec3 .detail .detailbox {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}
.detailbox .roominfo {
  background: #f3eadb;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  width: 100%;
}
.detailbox .roominfo button.close {
  position: absolute;
  top: 20px;
  right: 15px;
  background-image: url(../img/아이콘원본/btn_close.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  text-indent: -9999px;
}
.detailbox .r_tit {
  margin: 12px 0;
  font-size: 16px;
  font-weight: bold;
}
.detailbox .r_txt {
  font-size: 13px;
  margin-bottom: 10px;
  display: flex;
}
.detailbox .r_txt p {
  padding-right: 5px;
}
.favorite {
  position: fixed;
  bottom: -100%;
  width: 100%;
  background-color: rgba(21, 81, 16, 0.9);
  color: #fff;
  border-radius: 15px 15px 0 0;
  padding: 15px;
  text-align: center;
}
.favorite_delete {
  position: fixed;
  bottom: -100%;
  width: 100%;
  background-color: rgba(21, 81, 16, 0.9);
  color: #fff;
  border-radius: 15px 15px 0 0;
  padding: 15px;
  text-align: center;
}
.favoritebox a.direct {
  text-decoration: underline;
}
