.wrap {
  min-width: 360px;
  max-width: 480px;

  margin: auto;
  text-align: center;
  background-color: #f3eadb;
  position: relative;
  overflow: hidden;
  color: #414141;
}
.bgico {
  background-repeat: no-repeat;
}
header.c_header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 101px;
  display: flex;
  z-index: 10;
  background-color: #f3eadb;
}
header.c_header h1 a {
  margin: auto;
  background-image: url(../img/아이콘원본/main_logo.svg);
  text-indent: -9999px;
  width: 80px;
  height: 100%;
  position: absolute;
  top: 15px;
  left: 39%;
}
header .all_menu_show {
  background-image: url(../img/아이콘원본/btn_menu.svg);
  width: 30px;
  height: 30px;
  position: absolute;
  top: 49px;
  left: 15px;
  text-indent: -9999px;
}
header .btn_reserv {
  background-image: url(../img/아이콘원본/btn_reservation.svg);
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 49px;
  right: 15px;
}

/* header 끝 */

/* nav */
.navbox {
  position: absolute;
  width: 100%;
  /* height: calc(100%); */
  background-color: #f3eadb;
  top: 0;
  left: -100%;
  z-index: 30;
  /* display: none; */
}
.n_header {
  position: relative;
  width: 100%;
}
.n_header button.btn_close {
  display: block;
  padding: 9px 16px;
  width: 100%;
  text-align: right;
}
.n_header .u_member {
  width: 100%;
  display: flex;
  justify-content: right;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  height: 34px;
  background-color: #b5a27f;
}
.u_member a {
  padding: 0 16px;
  font-weight: bold;
  line-height: 1.8;
  position: relative;
}
.u_member a:nth-child(2):after {
  content: '';
  display: block;
  width: 1px;
  height: 18px;
  background-color: #000;
  position: absolute;
  top: 6px;
  left: 0;
}
.n_header p.title {
  background-color: #c8bca6;
  font-size: 18px;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #000;
}
.btns button {
  font-size: 17px;
  color: #fff;
  width: 138px;
  height: 40px;
  background-color: #155110;
  margin: 27px 5px;
}
nav {
  text-align: left;
  padding: 0 16px;
}
nav ul.gnb {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
nav ul.gnb > li {
  background-color: #d5cbb9;
  font-weight: bold;
  border-bottom: 1px solid #000;
}
nav ul.gnb > li:last-child {
  border: 0;
}
nav ul.gnb li a {
  width: 100%;
  height: 37px;
  line-height: 2;
  padding: 0 15px;
  position: relative;
  border-bottom: 1px solid #000;
}
nav ul.gnb li a i.open {
  position: absolute;
  top: 8px;
  right: 5px;
}
nav ul.sub {
  display: none;
}
nav ul.sub > li > a {
  background-color: #f0ece3;
  font-weight: normal;
  border-bottom: 1px solid #b4b4b4;
}
.m_promotion .promotion {
  background-image: url(../img/nav_banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 111px;
  color: #fff;
  text-align: left;
  margin: 20px 16px;
}
